<form [formGroup]="loginDetail" (ngSubmit)="onClick()">

  <div class="form-group">
    <label>Enter Name</label>
    <input type="text" class="form-control" placeholder="Enter Name" formControlName="name">
  </div>

  <div class="form-group">
    <label>Enter Email</label>
    <input type="email" class="form-control" placeholder="Enter Email" formControlName="email">
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Enter password" formControlName="password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


